
body {
  background-color: #051a33;
}
h1 {
  text-shadow: -1px 0  white,0 1px white, 0 -1px white;
  font-size:85px;
  top:150px;
  right:300px;
}
img {
  position: relative;
  top:-45px;
  right:-655px;
  size:300px;
}
ul{
   list-style-type: none;
   margin: 50px;
   padding: 50px;
   top:-0px;
   right:-900px;
   overflow:hidden;
   background-color: #660808;
}

li {
   float: left;
}

li a {
   display: block;
   color: white;
   text-align: left;
   padding: 14px 16px;
   text-decoration: none;
}

li a:hover {
   background-color: #051a33;
}
.active {
  background-color: blue;
}
h4 {
  color:white;
}

footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: #660808;
      color: white;
      text-align: center;
  }
